.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=number]{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=email]
  {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */}



  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  form{
      padding-top:40px;
  }
  h3,h2{
      padding-top:40px;
      text-align: center; 
  }

  .half_line
  { border-top:5px;
     width:30%;
     margin:16px auto 14px}

/*copied from trendcharts website contact us page*/
     .elementor-widget-divider .elementor-divider{line-height:0;font-size:0}.elementor-widget-divider .elementor-divider-separator{display:inline-block}

/*Above Border Strip*/

.myButton1 {
	-moz-box-shadow:inset 12px 11px 12px 1px #4063d7;
	-webkit-box-shadow:inset 12px 11px 12px 1px #4063d7;
	box-shadow:inset 12px 11px 12px 1px #4063d7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4063d7), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #4063d7 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #4063d7 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #4063d7 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #4063d7 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #4063d7 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4063d7', endColorstr='#476e9e',GradientType=0);
	background-color:#4063d7;
	-moz-border-radius:41px;
	-webkit-border-radius:41px;
	border-radius:41px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:15px 18px;
	text-decoration:none;
    text-shadow:0px 7px 10px #2649a3;
    align-items: center!important;
}
.myButton1:active {
	position:relative;
	top:1px;
}
.footer{
color:white
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:32px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


