.wellcome-text {
    margin: 0px;
    padding: 70px 0px;
  }
  .wellcome-area {
    background: rgba(248, 248, 248, 0.8) url("../img/background/bg1.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .well-bg {
    position: relative;
  }
  
  .wellcome-text {
    margin: 70px 0;
    padding: 30px 40px;
  }
  
  .well-text>h2 {
    color: rgb(8, 8, 8);
    font-size: 44px;
    font-weight: 500;
    line-height: 50px;
  }
  
  .well-text p {
    font-size: 18px;
    font-style: italic;
    color: rgb(8, 8, 8);
  }
  
  .wellcome-text .section-headline p {
    margin-bottom: 0;
  }
  
  .subs-feilds {
    border: 1px solid #fff;
    display: inline-block;
    height: 52px;
    margin-top: 20px;
    width: 60%;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .suscribe-input input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: left;
    font-size: 15px;
    line-height: 24px;
    padding: 11px 15px;
    width: 70%;
    height: 50px;
  }
  
  .suscribe-input button {
    background: #3ec1d5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 20px 20px 0;
    color: #fff;
    float: left;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 20px;
    width: 30%;
  }
  
  .suscribe-input button:hover {
    background: #fff none repeat scroll 0 0;
    color: #3ec1d5;
  }


  /* Our Services Css*/
  .services-icon {
    color: #444;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  
  .section-headline.services-head>h2 {
    margin-bottom: 25px;
  }
  
  .services-details {
    padding-top: 40px;
    transition: all 0.5s ease 0s;
  }
  
  .services-details:hover h4, .services-details:hover .services-icon {
    color: #3EC1D5;
  }
  
  .row.second-row {
    margin-top: 40px;
  }
  
  .section-head>h2 {
    color: #333;
  }
  
  .single-services>h4 {
    color: #444;
    font-size: 24px;
    font-weight: 500;
  }
  
  .single-services>p {
    color: #333;
    font-size: 14px;
  }
  
  .area-padding {
    padding: 70px 0px 80px;
  }
.half_line
  {border-top:2px solid #000000;width:10%;margin:16px auto 14px}
  /* END */

  /*Nav Header Deco*/
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
/*Nav Header Deco*/
/*Up Down Button*/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blueviolet;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
/*Up Down Button*/
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}